In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

from fado.preprocessing import MetricOptimizer

## Load Dataset

In [2]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

# encode non-numeric columns to labels
le = LabelEncoder()
iris_transform = iris.apply(le.fit_transform)

# make species binary
iris_transform['species'] = iris_transform['species'] == 0

# make label
iris_transform['petal_length'] = iris_transform['petal_length'] > 9

In [3]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Initialize MetricOptimizer

In [4]:
# Remove 25% of the dataset
preproc = MetricOptimizer(frac=0.75,
                          protected_attribute='species',
                          label='petal_length')

In [5]:
preproc = preproc.fit(iris_transform)

### Get Fair Dataset

In [6]:
iris_fair = preproc.transform()

In [7]:
iris_fair

     sepal_length  sepal_width  petal_length  petal_width  species
0               8           14         False            1     True
1               6            9         False            1     True
2               4           11         False            1     True
3               3           10         False            1     True
4               7           15         False            1     True
..            ...          ...           ...          ...      ...
139            26           10          True           17    False
140            24           10          True           20    False
143            25           11          True           19    False
147            22            9          True           16    False
148            19           13          True           19    False

[113 rows x 5 columns]